.card-body{
    padding: 0.6rem;
    @media only screen and (min-width: $mobile-l){
        padding: 1rem;
    }
}

.hidden {
    display: none;
}

.filters{
    hr{
        margin: 0.5rem 0 !important;
    }
    .btn-group-xs > .btn, .btn-xs {
        padding: .2rem .4rem;
        font-size: .875rem;
        border-radius: .2rem;
        height: calc(1.5125rem + 2px);
        line-height: 1 !important;
      }
    // border: 1px solid #CED4DA;
    // border-radius: 10px;
    .btn-group{
        position: relative;
    }
    .filters-builder{
        width: 100%;
        *{
            box-sizing: border-box;
        }
        
        .filters-list>:last-child::before {
            border-radius: 0 0 0 4px;
        }

        .filters-list>:last-child::after {
            content: none;
        }
        
        .filters-list>:first-child::before {
            top: -11px;
            height: calc(50% + 14px);
        }
        .filters-list>::before {
            top: -4px;
            border-width: 0 0 2px 2px;
        }
        .filters-list>::after, .filters-list>::before {
            content: '';
            position: absolute;
            left: -10px;
            width: 10px;
            height: calc(50% + 4px);
            border-color: #ccc;
            border-style: solid;
        }
        .filters-list>::after {
            top: 50%;
            border-width: 0 0 0 2px;
        }
        .filter-item{
            &.error-filter{
                outline: 2px solid red;
            }
            &:focus{
                outline: none;
            }
        }
        .filter-group-container{
            position: relative;
            margin: 4px 0;
            border-radius: 5px;
            padding: 6px;
            padding-bottom: 6px;
            border: 1px solid #dcc896;
            background: rgba(255, 235, 179, 0.3);
            >.filter-group-header {
                margin-bottom: 10px;
                display: grid;
                grid-template-columns: minmax(0, 1fr);
                grid-column-gap: 3vmin;
                grid-row-gap:  1vmin;
                grid-auto-rows: auto;
                .filter-selector{
                    .input-group-append{
                        .cancel{
                            display: none;
                        }
                    }
                }
                .filter-active-section{
                    display: flex;
                    flex-wrap: wrap;
                    .custom-control{
                        margin-left: 0.6rem;
                        padding-left: 2.25rem;
                        .custom-control-label{
                            &::before {
                                left: -2.25rem;
                            }
                            &::after{
                                left: calc(-2.25rem + 2px);
                            }
                        }
                    }
                }
                .filter-info, .filter-end-info{
                    border-radius: 4px;
                    box-shadow: -1px 1px 2px #c0c0c0d2;
                    background-color: #ffffef;
                    display: flex;
                    padding: 0.25rem;
                    color: #3d3f47;
                    width:100%;
                    margin: 0.25rem 0 !important;
                    @media only screen and (min-width: 550px){
                        margin: 0.5rem;
                    }
                }
                .filter-end-info{
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: column;
                    margin-bottom: 0.75rem !important;
                    @media only screen and (min-width: 320px){
                        flex-direction: row;
                        .filter-active-section{
                            width: 4rem;
                        }
                    }
                    @media only screen and (min-width: 550px){
                        margin-bottom: 0.25rem;
                        width: calc(18rem);
                        .filter-active-section{
                            width: auto;
                        }
                    }
                    
                }
                .filter-info{
                    flex-direction: column;                   
                    justify-content: center;
                    padding: 0.25rem 0.75rem;
                    p{
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        margin: 0.05rem 0;
                    }
                    .name-filter{
                        color: #39424b;
                        font-size: 1.1rem;
                        line-height: 1.1rem;
                        span{
                            font-weight: bold;
                            margin-right: 1rem;
                            color: #007BFF;
                        }
                    }
                    @media only screen and (min-width: 550px){
                        width: auto;
                        p{
                            flex-direction: row;
                        }
                        .name-filter{
                            margin-right: 1rem;
                        }
                    }
                }    
                .justify-self-start{
                    justify-self: start;
                    float: left;
                }
                .justify-self-end{
                    justify-self: end;
                    float: right;
                }
                .justify-self-center{
                    justify-self: center;
                    float: none;
                }
                .justify-self-stretch{
                    justify-self: stretch;
                }
                .first-column, .last-column, .fill-column{
                    grid-column: auto;
                }

                .filter-example{
                    display: none;
                    padding-bottom: 0.25rem;
                    .ejemplo{
                        display: none;
                        margin-top: 0.25rem;
                    }
                }
                

                .filter-name{
                    padding-top: 0.5rem;
                    border-top: 2px solid #ccc;
                }
                
                @media only screen and (min-width: $tablet-l){
                    > * {
                        align-self: baseline;
                    }
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    .filter-example{
                        grid-column: 2 / 3;
                        grid-row: 1 / 3;
                        align-self: flex-start;
                        padding: 0;
                        border: none;
                    }
                    .filter-name{
                        padding: 0;
                        border: none;
                        grid-row: 2 / 3;
                        align-self: flex-end;
                    }
                    .first-column{
                        grid-column: 1 / 2;
                    }
                    .last-column{
                        grid-column: 2 / 3;
                    }
                    .fill-column{
                        grid-column: 1 / 3;
                    }
                }
            }
            .filter-group-body{
                .filters-list{
                    list-style: none;
                    padding: 0 0 0 15px;
                    margin: 0;
                }
            }
            .filter-item{
                .filter-item-header{
                    display: block;
                    >*{
                        margin: 0.5rem;
                    }
                }
                .filter-config{
                    width: 100%;
                    background-color: #ffffef;
                    border-radius: 5px;
                    border: 2px solid #ffffee;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    box-shadow: -1px -1px 2px #bbbbbbd2 inset;
                    > *{
                        margin: 0.25rem 0.5rem;
                        &:first-child{
                            margin-top: 0.5rem;
                        }
                        &:last-child{
                            margin-bottom: 0.5rem;
                        }
                    }
                    
                    .form-group{
                        margin-bottom: 0.3rem;
                        label{
                            font-size: 0.95rem;
                            margin-bottom: .4rem;
                            color: #43444b;
                        }
                        .form-control-sm{
                            height: calc(1.5125rem + 2px);
                            width: auto;
                            .btn{
                                line-height: 1;
                            }
                        }
                    }
                    p{
                        margin-bottom: 0.25rem;
                    }
                    .filter-item-config{
                        .custom-control-label::before {
                            position: absolute;
                            top: calc(50% - .35rem);
                        }    
                        .custom-switch .custom-control-label::after {
                            top: calc(50% - .35rem + 2px);
                        }    
                        .form-group.anadir button{
                            @media only screen and (min-width: $tablet-s){
                                width: 12rem;
                            }
                        }

                        padding: 0rem 0.3rem;
                        .options-list-items{
                            padding-inline-start: 1rem;
                            .option-list-item{
                                list-style: none;
                                .btn-xs{
                                    padding: 0rem .25rem;
                                    font-size: .775rem;
                                    height: calc(1.3rem);
                                    margin-right: 0.8rem;
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
}