.info-centro-siglo {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-column-gap: 5vmin;
    grid-row-gap: 3vmin;

    * {
        font-family: 'Helvetica Neue';
        font-size: var(--larger-text);
        text-align: justify;
    }

    .grecas {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            min-height: 100px;
            max-height: 15vh;
            width: 70%;
        }
    }

    .full-description {
        * {
            color: #666666;
            font-size: var(--large-text);
        }
    }

    @media only screen and (min-width: $pc-s) {
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: 40% minmax(0, 1fr);

        * {
            font-size: var(--largest-text);
        }

        .info {
            position: relative;
            padding-right: 8%;

            &::before {
                content: "";
                height: 120%;
                width: 1.5%;
                background-color: var(--gold-color);
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .full-description {
            grid-column: 2 / 3;
            grid-row: 1 / 3;

            * {
                font-size: var(--large-text);
            }
        }
    }
}

.salones-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media only screen and (min-width: 550px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media only screen and (min-width: $tablet-l) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media only screen and (min-width: $pc-s) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    grid-column-gap: 5vmin;
    grid-row-gap: 5vmin;

    .card {
        position: relative;
        min-height: 250px;
        height: 100%;
        border-radius: 0.8rem;
        overflow: hidden;

        figure {
            position: relative;
            width: 100%;
            height: 100%;
        }

        figure img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .8s ease-in-out;
            transition: .8s ease-in-out;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info-card {
            position: absolute;
            height: 105%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            top: 95%;
            border-radius: 0.8rem;
            overflow: hidden;
            background-image: linear-gradient(rgba(233, 174, 38, 1), rgba(233, 175, 38, 0.9) 15%, rgba(192, 147, 41, 0.8) 100%);

            &:before {
                top: 2%;
                position: absolute;
                content: "";
                width: 50%;
                height: 3px;
                background-color: #fff;
            }

            transition: all ease-out 0.5s;

            .info-position {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5%;

                .texto {
                    display: flex;
                    justify-content: center;

                    * {
                        color: #fff;
                        font-weight: 900;
                        font-size: var(--big-text);

                        @media only screen and (min-width: $laptop-l) {
                            font-size: var(--big-text);
                        }

                        text-align: center;
                        line-height: 1;
                        @include text-shadow;
                    }
                }
            }
        }

        &:hover, &.mostrar-info {
            .info-card {
                top: -5%;
                transition: all ease-out 0.5s;
                border-radius: 0;
            }

            .info-position {
                transition: all ease-out 0.5s;
                top: 5%;
            }

            figure img {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

            svg {
                fill: var(--yellow-color) !important;
            }
        }
    }
}

.zonas-siglo {
    min-height: 75vw;
    height: 45vh;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $tablet-l) {
        min-height: auto;
        height: 80vh;
    }

    .titulo-section {
        position: absolute;
        top: 4vmin;
        margin: 0;
        font-size: var(--large-text);
    }

    .barra {
        position: absolute;
        width: 100%;
        height: 22vmin;
        background-color: var(--gold-color);
    }

    .imagen-siglo {
        z-index: 1;
        width: 90%;

        @media only screen and (min-width: $laptop-l) {
            width: 65%;
        }

        img {
            width: 100%;
        }
    }
}