#starfield {
    height: calc(100vh - var(--header-size));
    margin-top: var(--header-size);
    position: relative;
    overflow: hidden;

    .absoulute-cont {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2vmin;

        H1 {
            color: #fff;
            font-size: 12vmin;
            margin-bottom: 4vmin;

            @media only screen and (min-width: $laptop-s) {
                margin-bottom: 6vmin;
            }
        }

        img,
        .svg {
            width: 80%;

            @media only screen and (min-width: $laptop-s) {
                width: 50%;
            }
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
}

section.promociones-cines {
    position: relative;
    width: 100%;
    height: 100%;

    .promociones {
        width: 100%;
        height: 100%;

        .swiper-button-prev:after,
        .swiper-button-next:after {
            color: #fff;
        }

        .swiper-pagination {
            --swiper-theme-color: #d1d1d1;
        }

        .promocion {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

section.pagina-cartelera {
    position: relative;
    width: 100%;
    height: 100%;

    .peliculas {
        .pelicula {
            position: relative;
            width: 100%;
            margin-bottom: 5vmin;

            .contenido {
                position: relative;
                min-height: 200px;

                .poster-container {
                    position: relative;
                }

                .clasificacion {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--gold-color);
                    font-weight: bold;
                    font-size: var(--huge-text);
                    color: #fff;
                    width: 18vmin;
                    height: 18vmin;
                }

                .poster {
                    position: relative;

                    &:before {
                        display: block;
                        content: "";
                        width: 100%;
                        padding-top: (12 / 8) * 100%;
                    }

                    .caratula {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        /* Shine */
                        &::before {
                            position: absolute;
                            top: 0;
                            left: -75%;
                            z-index: 2;
                            display: block;
                            content: '';
                            width: 50%;
                            height: 100%;
                            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 250, 205, 0.5) 100%);
                            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
                            -webkit-transform: skewX(-25deg);
                            transform: skewX(-20deg);
                        }


                        @-webkit-keyframes shine {
                            100% {
                                left: 125%;
                            }
                        }

                        @keyframes shine {
                            100% {
                                left: 125%;
                            }
                        }

                        &:hover {
                            &::before {
                                -webkit-animation: shine .5s;
                                animation: shine .5s;
                            }
                        }
                    }
                }


                .info-pelicula {
                    position: relative;
                    text-decoration: none;
                    * {
                        font-size: var(--large-text);
                    }

                    .clasificacion {
                        display: none;
                    }

                    .top {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        .title {
                            word-break: break-word;
                            &,
                            * {
                                font-size: var(--largest-text);
                            }
                        }
                        .sinopsis {
                            margin: 0;
                            line-height: 1.15;
                            font-family: 'Helvetica Neue';
                        }
                    }

                    .vermas {
                        margin-top: 1rem;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        font-size: var(--large-text);
                        padding: 0rem 0.5rem;
                        text-decoration: none;
                    }

                    .idioma-pelicula {
                        margin-bottom: 0;
                    }
                }

                .horarios {

                    //margin-top: 1rem;
                    * {
                        font-size: var(--large-text);
                    }

                    .funciones{
                        padding-bottom: 0.3rem;
                        margin-bottom: 0.4rem;
                        span {
                            font-family: 'Helvetica Neue';
                            border-bottom: 4px solid var(--gold-color);
                            padding-right: 5%;
                            padding-bottom: 0.2rem;
                            color: var(--dark-gray-color);
                            font-size: var(--larger-text);
                        }
                    }

                    .bloque {
                        padding-left: 0.4vmin;
                        p {
                            margin-bottom: 0.5rem;
                        }

                        margin-bottom: 1rem;

                        .nombre-idioma {
                            margin: 0.5rem 0rem;
                        }

                        .nombre-idioma:first-of-type {
                            margin: 0rem 0rem 0.5rem 0rem;
                        }

                        .bloque-sala {
                            border-left: solid 4px var(--gold-color);
                            padding-left: 0.8rem;
                            .nombre-sala{
                                font-size: var(--medium-text);
                                margin-bottom: 0.2rem;
                                color: var(--dark-gray-color2);
                            }
                        }

                        .horas {
                            display: flex;
                            flex-wrap: wrap;
                            .hora {
                                background-color: #fff;
                                border: 2px solid transparent;
                                border-bottom-color: var(--gold-color);
                                border-radius: 0.25rem;
                                color: #595959;
                                display: inline-block;
                                letter-spacing: -0.05em;
                                padding: 0.1em 0.2em;
                                white-space: nowrap;
                                margin: 0.5rem;
                                text-decoration: none;
                                font-family: 'Helvetica Neue';
                                font-size: var(--large-text);

                                &:hover {
                                    background-color: #d3d3d3;
                                }
                            }
                        }
                    }
                }

                display: grid;
                grid-template-columns: minmax(0, 1fr);
                grid-row-gap: 3vmin;
                grid-column-gap: 3vmin;

                @media only screen and (min-width: $mobile-m) {
                    grid-template-columns: 40% minmax(0, 1fr);
                    grid-template-rows: auto 1fr;

                    .clasificacion {
                        font-size: var(--large-text);
                        width: 10vmin;
                        height: 10vmin;
                    }

                    .horarios,
                    .info-pelicula {
                        * {
                            font-size: var(--large-text);
                        }
                    }

                    .horarios {
                        grid-column: 1 / 3;
                    }
                }

                @media only screen and (min-width: $mobile-l) {
                    grid-template-columns: 35% minmax(0, 1fr);
                }

                @media only screen and (min-width: $tablet-s) {
                    .top {
                        width: calc(100% - (10vmin + 5px));
                    }

                    .poster-container {
                        .clasificacion {
                            display: none;
                        }
                    }
                    .info-pelicula{
                        .clasificacion {
                            display: flex !important;
                        }
                    }
                }

                @media only screen and (min-width: $tablet-m) {
                    .clasificacion {
                        font-size: calc(var(--big-text) * 0.9);
                    }
                }

                @media only screen and (min-width: $tablet-s) {
                    grid-template-columns: 30% minmax(0, 1fr);
                }

                @media only screen and (min-width: $laptop-s) {
                    grid-template-columns: 20% minmax(0, 1fr);
                    .title {

                        &,
                        * {
                            font-size: var(--biger-text);
                        }
                    }

                    .poster-container {
                        grid-row: 1 / 3;
                    }

                    .horarios {
                        grid-column: 2 / 3;
                    }

                    .info-pelicula {
                        .vermas {
                            width: 50%;
                        }
                    }
                }

                @media only screen and (min-width: $laptop-l) {
                    .info-pelicula {
                        .vermas {
                            width: 35%;
                        }
                    }
                }

                @media only screen and (min-width: $pc-m) {
                    .info-pelicula {
                        .vermas {
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
}