@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue.eot');
	src: url('fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue.woff2') format('woff2'),
		url('fonts/HelveticaNeue.woff') format('woff'),
		url('fonts/HelveticaNeue.ttf') format('truetype'),
		url('fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-UltraLight.eot');
	src: url('fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
		url('fonts/HelveticaNeue-UltraLight.woff') format('woff'),
		url('fonts/HelveticaNeue-UltraLight.ttf') format('truetype'),
		url('fonts/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-UltraLightItalic.eot');
	src: url('fonts/HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-UltraLightItalic.woff') format('woff'),
		url('fonts/HelveticaNeue-UltraLightItalic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic') format('svg');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-Italic.eot');
	src: url('fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Italic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Italic.woff') format('woff'),
		url('fonts/HelveticaNeue-Italic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-Light.eot');
	src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Light.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Light.woff') format('woff'),
		url('fonts/HelveticaNeue-Light.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-LightItalic.eot');
	src: url('fonts/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-LightItalic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-LightItalic.woff') format('woff'),
		url('fonts/HelveticaNeue-LightItalic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-Medium.eot');
	src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Medium.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Medium.woff') format('woff'),
		url('fonts/HelveticaNeue-Medium.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-Bold.eot');
	src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Bold.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Bold.woff') format('woff'),
		url('fonts/HelveticaNeue-Bold.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-BoldItalic.eot');
	src: url('fonts/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-BoldItalic.woff') format('woff'),
		url('fonts/HelveticaNeue-BoldItalic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-CondensedBold.eot');
	src: url('fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
		url('fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
		url('fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
		url('fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue-CondensedBlack.eot');
	src: url('fonts/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
		url('fonts/HelveticaNeue-CondensedBlack.woff') format('woff'),
		url('fonts/HelveticaNeue-CondensedBlack.ttf') format('truetype'),
		url('fonts/HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Conv_proxima_nova_reg-webfont';
	src: url('fonts/proxima_nova_reg-webfont.eot');
	src: local('☺'), url('fonts/proxima_nova_reg-webfont.woff') format('woff'), url('fonts/proxima_nova_reg-webfont.ttf') format('truetype'), url('fonts/proxima_nova_reg-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Conv_Proxima-Nova-Black';
	src: url('fonts/Proxima-Nova-Black.eot');
	src: local('☺'), url('fonts/Proxima-Nova-Black.woff') format('woff'), url('fonts/Proxima-Nova-Black.ttf') format('truetype'), url('fonts/Proxima-Nova-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Conv_Proxima-Nova-Sbold';
	src: url('fonts/Proxima-Nova-Sbold.eot');
	src: local('☺'), url('fonts/Proxima-Nova-Sbold.woff') format('woff'), url('fonts/Proxima-Nova-Sbold.ttf') format('truetype'), url('fonts/Proxima-Nova-Sbold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'montserratbold';
	src: url('fonts/montserrat-bold-webfont.eot');
	src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
		url('fonts/montserrat-bold-webfont.woff') format('woff'),
		url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
		url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'montserratregular';
	src: url('fonts/montserrat-regular-webfont.eot');
	src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
		url('fonts/montserrat-regular-webfont.woff') format('woff'),
		url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
		url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('fonts/FuturaPT-Light.eot');
	src: url('fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-Light.woff2') format('woff2'),
		url('fonts/FuturaPT-Light.woff') format('woff'),
		url('fonts/FuturaPT-Light.ttf') format('truetype'),
		url('fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('fonts/FuturaPT-Medium.eot');
	src: url('fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-Medium.woff2') format('woff2'),
		url('fonts/FuturaPT-Medium.woff') format('woff'),
		url('fonts/FuturaPT-Medium.ttf') format('truetype'),
		url('fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('fonts/FuturaPT-Bold.eot');
	src: url('fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-Bold.woff2') format('woff2'),
		url('fonts/FuturaPT-Bold.woff') format('woff'),
		url('fonts/FuturaPT-Bold.ttf') format('truetype'),
		url('fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('fonts/FuturaPT-Heavy.eot');
	src: url('fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-Heavy.woff2') format('woff2'),
		url('fonts/FuturaPT-Heavy.woff') format('woff'),
		url('fonts/FuturaPT-Heavy.ttf') format('truetype'),
		url('fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Futura PT';
	src: url('fonts/FuturaPT-LightObl.eot');
	src: url('fonts/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-LightObl.woff2') format('woff2'),
		url('fonts/FuturaPT-LightObl.woff') format('woff'),
		url('fonts/FuturaPT-LightObl.ttf') format('truetype'),
		url('fonts/FuturaPT-LightObl.svg#FuturaPT-LightObl') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('fonts/FuturaPT-MediumObl.eot');
	src: url('fonts/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-MediumObl.woff2') format('woff2'),
		url('fonts/FuturaPT-MediumObl.woff') format('woff'),
		url('fonts/FuturaPT-MediumObl.ttf') format('truetype'),
		url('fonts/FuturaPT-MediumObl.svg#FuturaPT-MediumObl') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('fonts/FuturaPT-BoldObl.eot');
	src: url('fonts/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-BoldObl.woff2') format('woff2'),
		url('fonts/FuturaPT-BoldObl.woff') format('woff'),
		url('fonts/FuturaPT-BoldObl.ttf') format('truetype'),
		url('fonts/FuturaPT-BoldObl.svg#FuturaPT-BoldObl') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('fonts/FuturaPT-HeavyObl.eot');
	src: url('fonts/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-HeavyObl.woff2') format('woff2'),
		url('fonts/FuturaPT-HeavyObl.woff') format('woff'),
		url('fonts/FuturaPT-HeavyObl.ttf') format('truetype'),
		url('fonts/FuturaPT-HeavyObl.svg#FuturaPT-HeavyObl') format('svg');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Extra';
	src: url('fonts/FuturaPT-ExtraBold.eot');
	src: url('fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-ExtraBold.woff2') format('woff2'),
		url('fonts/FuturaPT-ExtraBold.woff') format('woff'),
		url('fonts/FuturaPT-ExtraBold.ttf') format('truetype'),
		url('fonts/FuturaPT-ExtraBold.svg#FuturaPT-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Extra';
	src: url('fonts/FuturaPT-ExtraBoldObl.eot');
	src: url('fonts/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-ExtraBoldObl.woff2') format('woff2'),
		url('fonts/FuturaPT-ExtraBoldObl.woff') format('woff'),
		url('fonts/FuturaPT-ExtraBoldObl.ttf') format('truetype'),
		url('fonts/FuturaPT-ExtraBoldObl.svg#FuturaPT-ExtraBoldObl') format('svg');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond';
	src: url('fonts/FuturaPTCond-MediumObl.eot');
	src: url('fonts/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPTCond-MediumObl.woff2') format('woff2'),
		url('fonts/FuturaPTCond-MediumObl.woff') format('woff'),
		url('fonts/FuturaPTCond-MediumObl.ttf') format('truetype'),
		url('fonts/FuturaPTCond-MediumObl.svg#FuturaPTCond-MediumObl') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Demi';
	src: url('fonts/FuturaPT-Demi.eot');
	src: url('fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-Demi.woff2') format('woff2'),
		url('fonts/FuturaPT-Demi.woff') format('woff'),
		url('fonts/FuturaPT-Demi.ttf') format('truetype'),
		url('fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond Book';
	src: url('fonts/FuturaPTCond-Book.eot');
	src: url('fonts/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPTCond-Book.woff2') format('woff2'),
		url('fonts/FuturaPTCond-Book.woff') format('woff'),
		url('fonts/FuturaPTCond-Book.ttf') format('truetype'),
		url('fonts/FuturaPTCond-Book.svg#FuturaPTCond-Book') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Book';
	src: url('fonts/FuturaPT-BookObl.eot');
	src: url('fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-BookObl.woff2') format('woff2'),
		url('fonts/FuturaPT-BookObl.woff') format('woff'),
		url('fonts/FuturaPT-BookObl.ttf') format('truetype'),
		url('fonts/FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond Extra';
	src: url('fonts/FuturaPTCond-ExtraBoldObl.eot');
	src: url('fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
		url('fonts/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
		url('fonts/FuturaPTCond-ExtraBoldObl.ttf') format('truetype'),
		url('fonts/FuturaPTCond-ExtraBoldObl.svg#FuturaPTCond-ExtraBoldObl') format('svg');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond';
	src: url('fonts/FuturaPTCond-Medium.eot');
	src: url('fonts/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPTCond-Medium.woff2') format('woff2'),
		url('fonts/FuturaPTCond-Medium.woff') format('woff'),
		url('fonts/FuturaPTCond-Medium.ttf') format('truetype'),
		url('fonts/FuturaPTCond-Medium.svg#FuturaPTCond-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Book';
	src: url('fonts/FuturaPT-Book.eot');
	src: url('fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-Book.woff2') format('woff2'),
		url('fonts/FuturaPT-Book.woff') format('woff'),
		url('fonts/FuturaPT-Book.ttf') format('truetype'),
		url('fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond';
	src: url('fonts/FuturaPTCond-BoldObl.eot');
	src: url('fonts/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPTCond-BoldObl.woff2') format('woff2'),
		url('fonts/FuturaPTCond-BoldObl.woff') format('woff'),
		url('fonts/FuturaPTCond-BoldObl.ttf') format('truetype'),
		url('fonts/FuturaPTCond-BoldObl.svg#FuturaPTCond-BoldObl') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Demi';
	src: url('fonts/FuturaPT-DemiObl.eot');
	src: url('fonts/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPT-DemiObl.woff2') format('woff2'),
		url('fonts/FuturaPT-DemiObl.woff') format('woff'),
		url('fonts/FuturaPT-DemiObl.ttf') format('truetype'),
		url('fonts/FuturaPT-DemiObl.svg#FuturaPT-DemiObl') format('svg');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond Book';
	src: url('fonts/FuturaPTCond-BookObl.eot');
	src: url('fonts/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPTCond-BookObl.woff2') format('woff2'),
		url('fonts/FuturaPTCond-BookObl.woff') format('woff'),
		url('fonts/FuturaPTCond-BookObl.ttf') format('truetype'),
		url('fonts/FuturaPTCond-BookObl.svg#FuturaPTCond-BookObl') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond';
	src: url('fonts/FuturaPTCond-Bold.eot');
	src: url('fonts/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPTCond-Bold.woff2') format('woff2'),
		url('fonts/FuturaPTCond-Bold.woff') format('woff'),
		url('fonts/FuturaPTCond-Bold.ttf') format('truetype'),
		url('fonts/FuturaPTCond-Bold.svg#FuturaPTCond-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond Extra';
	src: url('fonts/FuturaPTCond-ExtraBold.eot');
	src: url('fonts/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaPTCond-ExtraBold.woff2') format('woff2'),
		url('fonts/FuturaPTCond-ExtraBold.woff') format('woff'),
		url('fonts/FuturaPTCond-ExtraBold.ttf') format('truetype'),
		url('fonts/FuturaPTCond-ExtraBold.svg#FuturaPTCond-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}


html * {
	font-family: 'Futura PT';
	font-size: 16px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	::selection{
		background-color: #49494928;
	}
	//text-transform: capitalize;
}



$mobile-xs: 250px;
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 480px;
$tablet-s: 640px; //medium foundation
$tablet-m: 720px;
$tablet-l: 950px;
$laptop-s: 1024px; //large foundation
$laptop-m: 1100px;
$laptop-l: 1250px;
$pc-s: 1440px;
$pc-m: 1920px;
$pc-xl: 2560px;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

:root {
	--smallest-text: calc(0.3rem + 1.2vmin);
	--smaller-text: calc(0.45rem + 1.2vmin);
	--small-text: calc(0.5rem + 1.2vmin);
	--medium-text: calc(0.8rem + 1.15vmin);
	--large-text: calc(1.0rem + 1.15vmin);
	--larger-text: calc(1.25rem + 1.1vmin);
	--largest-text: calc(1.45rem + 1.1vmin);
	--big-text: calc(1.55rem + 0.75vmin);
	--biger-text: calc(1.6rem + 0.8vmin);
	--bigest-text: calc(1.7rem + 0.85vmin);
	--huge-text: calc(1.9rem + 0.8vmin);
	--epic-text: calc(2rem + 0.78vmin);
	--giant-text: calc(2.2rem + 0.75vmin);
	--colossal-text: calc(2.4rem + 0.7vmin);


	@media only screen and (min-width: $mobile-l) {
		--smallest-text: calc(0.38rem + 1.0vmin);
		--smaller-text: calc(0.55rem + 1.0vmin);
		--small-text: calc(0.6rem + 1.0vmin);
		--medium-text: calc(0.9rem + 1.0vmin);
		--large-text: calc(1.1rem + 1.0vmin);
		--larger-text: calc(1.3rem + 1.0vmin);
		--largest-text: calc(1.5rem + 1.0vmin);
		--big-text: calc(1.7rem + 1.0vmin);
		--biger-text: calc(1.9rem + 0.95vmin);
		--bigest-text: calc(2.1rem + 0.9vmin);
		--huge-text: calc(2.1rem + 0.85vmin);
		--epic-text: calc(2.6rem + 0.82vmin);
		--giant-text: calc(2.8rem + 0.8vmin);
		--colossal-text: calc(3.0rem + 0.75vmin);
	}

	@media only screen and (min-width: $tablet-s) {
		--smallest-text: calc(0.45rem + 1.15vmin);
		--smaller-text: calc(0.63rem + 1.15vmin);
		--small-text: calc(0.75rem + 1.15vmin);
		--medium-text: calc(1.1rem + 1.15vmin);
		--large-text: calc(1.2rem + 1.15vmin);
		--larger-text: calc(1.4rem + 1.05vmin);
		--largest-text: calc(1.55rem + 1.05vmin);
		--big-text: calc(1.65rem + 1.05vmin);
		--biger-text: calc(1.75rem + 1.05vmin);
		--bigest-text: calc(1.95rem + 1.05vmin);
		--huge-text: calc(2.6rem + 1.05vmin);
		--epic-text: calc(3.2rem + 1.05vmin);
		--giant-text: calc(3.7rem + 1.05vmin);
		--colossal-text: calc(3.9rem + 1.05vmin);
	}

	@media only screen and (min-width: $tablet-m) {
		--smallest-text: calc(0.45rem + 1.0vmin);
		--smaller-text: calc(0.63rem + 1.0vmin);
		--small-text: calc(0.75rem + 1.0vmin);
		--medium-text: calc(1.1rem + 1.0vmin);
		--large-text: calc(1.2rem + 1.0vmin);
		--larger-text: calc(1.4rem + 1.0vmin);
		--largest-text: calc(1.5rem + 1.0vmin);
		--big-text: calc(1.6rem + 1.0vmin);
		--biger-text: calc(1.7rem + 0.95vmin);
		--bigest-text: calc(1.9rem + 0.92vmin);
		--huge-text: calc(2.4rem + 0.85vmin);
		--epic-text: calc(2.6rem + 0.8vmin);
		--giant-text: calc(3.05rem + 0.85vmin);
		--colossal-text: calc(3.4rem + 0.8vmin);
	}

	@media only screen and (min-width: $tablet-l) {
		--smallest-text: calc(0.6rem + 0.5vmin);
		--smaller-text: calc(0.7rem + 0.5vmin);
		--small-text: calc(0.8rem + 0.5vmin);
		--medium-text: calc(1.2rem + 0.5vmin);
		--large-text: calc(1.4rem + 0.5vmin);
		--larger-text: calc(1.60rem + 0.5vmin);
		--largest-text: calc(1.80rem + 0.5vmin);
		--big-text: calc(1.95rem + 0.6vmin);
		--biger-text: calc(2.1rem + 0.7vmin);
		--bigest-text: calc(2.5rem + 0.7vmin);
		--huge-text: calc(2.75rem + 0.8vmin);
		--epic-text: calc(3.0rem + 0.8vmin);
		--giant-text: calc(3.4rem + 0.8vmin);
		--colossal-text: calc(3.7rem + 0.8vmin);
	}


	@media only screen and (min-width: $laptop-s) {
		--smallest-text: 0.8rem;
		--smaller-text: 0.9rem;
		--small-text: 1.09rem;
		--medium-text: 1.28rem;
		--large-text: 1.47rem;
		--larger-text: 1.68rem;
		--largest-text: 1.85rem;
		--big-text: 2.08rem;
		--biger-text: 2.28rem;
		--bigest-text: 2.58rem;
		--huge-text: 3.18rem;
		--epic-text: 3.68rem;
		--giant-text: 4.18rem;
		--colossal-text: 4.45rem;
	}

	@media only screen and (min-width: $laptop-m) {
		--smallest-text: 0.85rem;
		--smaller-text: 0.95rem;
		--small-text: 1.16rem;
		--medium-text: 1.38rem;
		--large-text: 1.52rem;
		--larger-text: 1.74rem;
		--largest-text: 1.89rem;
		--big-text: 2.1rem;
		--biger-text: 2.3rem;
		--bigest-text: 2.6rem;
		--huge-text: 3.2rem;
		--epic-text: 3.7rem;
		--giant-text: 4.2rem;
		--colossal-text: 4.6rem;
	}

	@media only screen and (min-width: $laptop-l) {
		--smallest-text: 0.79rem;
		--smaller-text: 0.91rem;
		--small-text: 1.12rem;
		--medium-text: 1.32rem;
		--large-text: 1.52rem;
		--larger-text: 1.72rem;
		--largest-text: 1.92rem;
		--big-text: 2.2rem;
		--biger-text: 2.4rem;
		--bigest-text: 2.7rem;
		--huge-text: 3.3rem;
		--epic-text: 3.8rem;
		--giant-text: 4.3rem;
		--colossal-text: 4.8rem;
	}

	@media only screen and (min-width: $pc-s) {
		--smallest-text: 0.75rem;
		--smaller-text: 0.92rem;
		--small-text: 1.15rem;
		--medium-text: 1.35rem;
		--large-text: 1.55rem;
		--larger-text: 1.75rem;
		--largest-text: 2rem;
		--big-text: 2.3rem;
		--biger-text: 2.6rem;
		--bigest-text: 3rem;
		--huge-text: 3.5rem;
		--epic-text: 4rem;
		--giant-text: 4.5rem;
		--colossal-text: 5rem;
	}
}

$shadow-color: #131313dc;
$shadow-color2: #414141ab;
$dark-gray-color: #353535;
$header-size: 60px;
$gray-background: #EDEDED;
$dark-gray-color2: #666; 
$yellow-color: #FFC215;
$gold-color: #d49d1c;
$blue-cines: #151A4E;

:root {
	--shadow-color: #{$shadow-color};
	--shadow-color2: #{$shadow-color2};
	--header-size: #{$header-size};
	--gray-background: #{$gray-background};
	--yellow-color: #{$yellow-color};
	--gold-color: #{$gold-color};
	--blue-cines: #{$blue-cines};
	--dark-gray-color: #{$dark-gray-color};
	--dark-gray-color2: #{$dark-gray-color2};
	footer {
		--background-color: #343434;
	}
}

.gold-text {
	color: var(--gold-color);
}

@mixin text-shadow {
	text-shadow: var(--shadow-color) 0.7vmin 0.5vmin 0.7vmin, var(--shadow-color2) 0.5vmin 0.5vmin 0.8vmin;

	@media only screen and (min-width: $mobile-l) {
		text-shadow: var(--shadow-color) 0.5vmin 0.3vmin 0.5vmin, var(--shadow-color2) 0.3vmin 0.3vmin 0.6vmin;
	}
}

@mixin img-shadow {
	filter: drop-shadow(var(--shadow-color2) 0.15vmin 0.15vmin 0.2vmin);
}

@mixin box-shadow {
	box-shadow: var(--shadow-color) 0.6vmin 0.4vmin 0.6vmin, var(--shadow-color2) 0.4vmin 0.4vmin 0.7vmin;

	@media only screen and (min-width: $mobile-l) {
		box-shadow: var(--shadow-color) 0.4vmin 0.2vmin 0.4vmin, var(--shadow-color2) 0.2vmin 0.2vmin 0.5vmin;
	}
}


section {
	position: relative;

	.titulo-section {
		text-align: center;
		margin-bottom: 5vmin;

		@media only screen and (min-width: $tablet-l) {
			margin-bottom: 6vmin;
		}

		&,
		* {
			font-family: 'Futura PT';
			font-weight: 800;
			text-transform: uppercase;
			font-size: calc(var(--bigest-text) * 1.15);
		}
	}
}

.title {
	&,
	* {
		font-family: 'Futura PT';
		font-weight: 800;
		text-transform: uppercase;
		font-size: var(--bigest-text);
	}
}

figure {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.big-text {
	font-size: 1.2em !important;
}

.small-text {
	font-size: 0.9em !important;
}

.b-gray {
	background-color: var(--gray-background);
}

.section-padding {
	padding: 5.5vmin 6vmin;

	@media only screen and (min-width: $tablet-l) {
		padding: 7vmin 10vmin;
	}
}

.section-padding-y {
	padding: 5.5vmin 0vmin;

	@media only screen and (min-width: $tablet-l) {
		padding: 7vmin 0vmin;
	}
}

.section-padding-x {
	padding: 0vmin 6vmin;

	@media only screen and (min-width: $tablet-l) {
		padding: 0vmin 10vmin;
	}
}

.section-margin {
	margin: 5.5vmin 6vmin;

	@media only screen and (min-width: $tablet-l) {
		margin: 7vmin 10vmin;
	}
}

.section-margin-y {
	margin: 5.5vmin 0vmin;

	@media only screen and (min-width: $tablet-l) {
		margin: 7vmin 0vmin;
	}
}

.section-margin-x {
	margin: 0vmin 6vmin;

	@media only screen and (min-width: $tablet-l) {
		margin: 0vmin 10vmin;
	}
}

.gold-btn {
	background-color: var(--gold-color);
	&, * {
		font-weight: 900;
		font-size: var(--large-text);
		font-family: 'Futura PT' !important;
		font-weight: 500 !important;
		border: none !important;
		color: #fff !important;
	}
}


.yellow-btn {
	background-color: var(--yellow-color);
	&, * {
		color: #000;
		font-weight: 900;
		font-size: var(--large-text);
	}
}


@mixin btn-yellow($border: false) {
	@if ($border==true) {
		background-color: transparent;
		color: var(--yellow-color);
		border: 0.25rem solid var(--yellow-color);

		&:hover,
		&:focus {
			background-color: var(--yellow-color);
			color: #000;
			box-shadow: none;
		}
	}

	@else {
		background-color: var(--yellow-color);
		color: #000;
	}
}

.simpleParallax {
	width: 100%;
	height: 100%;
}

.btn-effect{
	position: relative;
	overflow: hidden;
	&, *{
		position: relative;    
		z-index: 2;              
	}
	&:before{
		top: 0;
		left: -100%;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #ffffff2f;
		transition: all ease-out 0.4s;
		z-index: 1;
	}
	&:hover{
		&:before{
			left: 0%;
			transition: all ease-out 0.4s;
		}    
	}
}

$slick-dot-color-slider: #ffffff !default;
$slick-dot-color-active-slider: $slick-dot-color-slider !default;
$slick-opacity-default-slider: 1 !default;
$slick-opacity-on-hover-slider: 0.75 !default;
$slick-opacity-not-active-slider: 0.40 !default;

.slider-section{
	.slider-container-section{
		.slick-arrow {
			opacity: 0.9;
			z-index: 2;
			border-radius: 0.5rem;
			padding: 0.5rem;
			width: 75px;
			height: 75px;

			&:active {
				opacity: 1;
			}
		}

		.slick-next {
			right: 1%;
		}

		.slick-prev {
			left: 1%;
		}

		.slick-dots{
			bottom: 20px;
			li {
				button {
					&:hover, &:focus {
						&:before {
							opacity: $slick-opacity-on-hover-slider;
						}
					}
					&:before {
						color: $slick-dot-color-slider;
						opacity: $slick-opacity-not-active-slider;
					}
				}
				&.slick-active button:before {
					color: $slick-dot-color-active-slider;
					opacity: $slick-opacity-default-slider;
				}
			}
		}

		.slide-content{
			width: 100%;
			height: 75vh;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.politicas, .cuenta{
	margin-top: var(--header-size);
	padding-top: 2vmin;
	padding-bottom: 2vmin;

	*{
		font-size: var(--small-text);
	}

	h3{
		font-size: var(--largest-text);
	}

	.strong{
		font-weight: bold;
	}
}

.politicas {
	a{
		font-weight: bold;
		color: var(--gold-color);
		font-size: calc( var(--small-text) * 1.05);
	}
}

.cuenta {
	.anios {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		grid-gap: 5vmin;

		@media only screen and (min-width: $mobile-m) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@media only screen and (min-width: $tablet-s) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		.ano {
			display: flex;
			flex-direction: column;
			.titulo {
				font-size: var(--big-text);
				font-weight: bold;
			}
			a{
				font-size: var(--larger-text);
			}
		}
	}
}