section.contacto{
    .full-container{
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-column-gap: 5vmin;
        grid-row-gap: 5vmin;

        @media only screen and (min-width: $laptop-s) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .formulario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media only screen and (min-width: $tablet-m) {
                padding-top: 6vmin;
            }
            form{
                position: relative;
                display: grid;
                grid-template-columns: minmax(0, 1fr);
                .gold-btn{
                    padding: 0.4rem;
                }
                @media only screen and (min-width: $tablet-m) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    #mensaje{
                        grid-column: 1 / 3;
                    }
        
                    .gold-btn{
                        grid-column: 2 / 3;
                    }
                }
                grid-column-gap: 4vmin;
                grid-row-gap: 4vmin;
                width: 100%;
                padding: 0 ;
                margin: 0;
                margin: 4vmin 0;
                input, textarea{
                    margin-bottom: 0.25rem;
                    font-family: 'Helvetica Neue';
                    font-weight: 300;
                    border: solid 2px #757575;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    box-shadow: none;
                    font-size: var(--large-text);
                    color: #292929;
                    padding: 0 0 0.5rem 1.5rem;
    
    
                    &:placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #292929 !important;
                        opacity: 1; /* Firefox */
                        font-family: 'Helvetica Neue'!important;
                        font-weight: 300;
                    }
        
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: #292929 !important;
                    }
        
                    &:-ms-input-placeholder { /* Microsoft Edge */
                            color: #292929 !important;
                    }
                }
            }
        }
        #mapa{
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 500px;
            // height: 50vmin;
        }
    }

    &.fullpage-section{
        display: flex;
        justify-content: center;
        .full-container{
            padding-top: var(--header-size);
            padding-bottom: var(--header-size);
            padding-right: 6vmin;
            padding-left: 6vmin;
            @media only screen and (min-width: $tablet-l) {
                padding-right: 10vmin;
                padding-left: 10vmin;
            }
        }
        .fp-scrollable{
            width: 100%;
            .full-container{
                padding-bottom: var(--header-size);
            }
        }
    }
}