.bannerSlider {
    //overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
    margin-top: var(--header-size);
    //max-height: 350px;
    min-height: 350px;
    height: calc(65vh - var(--header-size)) !important;
    padding-bottom: 8vmin;

    @media only screen and (max-height: 500px) {
        height: calc(100vh - var(--header-size)) !important;
    }

    @media only screen and (min-width: $tablet-m) and (orientation: landscape) {
        height: calc(100vh - var(--header-size)) !important;
    }

    .slider-banner {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;

        .slick-arrow {
            opacity: 0.6;
            z-index: 2;
            background-color: var(--dark-gray-color);
            border-radius: 0.5rem;
            padding: 0.5rem;
            width: 45px;
            height: 45px;

            &:active {
                opacity: 1;
                transform: scale(1.15);
                top: 45%;
            }
        }

        .slick-next {
            right: 3%;
        }

        .slick-prev {
            left: 3%;
        }

        @media only screen and (min-width: 700px) {
            .slick-arrow {
                width: 80px;
                height: 80px;
            }

            .slick-next {
                right: 14%;
            }

            .slick-prev {
                left: 14%;
            }
        }

        .slick-list {
            height: 100%;
            outline: none;

            .slick-track {
                height: 100%;
                outline: none;

                .slick-slide {
                    height: 100%;

                    div {
                        height: 100%;

                        .banner {
                            padding: 0 2vmin;
                            transition: all 2s ease;
                            transition-property: height;
                            width: 100vw !important;

                            picture{
                                width: 100%;
                                height: 100%;
                                display: flex !important;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 100%;
                                    height: 80% !important;
                                    object-fit: cover;
                                    transition: all 2s ease;
                                    transition-property: height;
                                }
                            }
                        }
                    }

                    &.slick-center {
                        .banner {
                            transition-property: height;

                            img {
                                height: 100% !important;
                                transition-property: height, border-radius;
                                border-radius: 0;
                            }
                        }
                    }
                }

                @media only screen and (min-width: 700px) {
                    .slick-slide {
                        div {
                            .banner {
                                padding: 0 4vmin;
                                width: 80vw !important;

                                img {
                                    border-radius: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.patronato {
    display: flex;
    justify-content: center;

    .tamano-banner {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: $tablet-l) {
            width: 80vw;
        }

        .desc {
            font-family: 'Helvetica Neue';
            font-size: var(--large-text);
            text-align: center;
            color: var(--dark-gray-color2);

            @media only screen and (min-width: $pc-s) {
                width: 70%;
            }
        }

        .razones {
            margin-top: 6vmin;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 4vmin;
            grid-row-gap: 8vmin;

            .razon {
                .icono {
                    padding: 1rem;
                    width: 100%;

                    img,
                    svg {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    padding-bottom: 2rem;
                }

                .info {
                    font-family: 'Helvetica Neue';
                    font-size: calc(var(--large-text) * 0.9);
                    color: var(--dark-gray-color2);
                    text-align: center;
                }
            }

            @media only screen and (min-width: $mobile-l) {
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 4vmin;
                grid-row-gap: 8vmin;
            }

            @media only screen and (min-width: $tablet-m) {
                grid-column-gap: 6vmin;
                grid-row-gap: 0vmin;

                .icono {
                    padding-bottom: 1rem !important;

                    img,
                    svg {
                        padding: 2rem;
                    }
                }
            }

            @media only screen and (min-width: $tablet-l) {
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 4vmin;
                grid-row-gap: 4vmin;

                .icono {
                    padding-bottom: 2rem !important;
                }
            }

            @media only screen and (min-width: $pc-s) {
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 15vmin;
                grid-row-gap: 6vmin;
            }
        }
    }
}