footer {
    position: relative;
    background-color: var(--background-color);
    *::selection{
		background-color: #ffffff28;
	}
    .full-container{
        position: relative;
        background-color: var(--background-color);
    
        .marcas-seguir {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-column-gap: 4vmin;
    
            .marca {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding: 1rem 0rem 0.5rem;
    
                .imagen-marca {
                    width: 85%;
                    margin-bottom: 5%;
    
                    @media only screen and (min-width: $tablet-m) {
                        width: 100%;
                        height: 7vmin;
                        margin-bottom: 8%;
                    }
    
                    @media only screen and (min-width: $tablet-l) {
                        height: 8vmin;
                    }
    
                    @media only screen and (min-width: $laptop-m) {
                        height: 10vmin;
                    }
    
                    @media only screen and (min-width: $pc-s) {
                        height: 9vmin;
                    }
    
                    @media only screen and (min-width: $pc-m) {
                        height: 12vmin;
                    }
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .botones-seguir {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    
        .info-footer {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column-gap: 4vmin;
            grid-row-gap: 4vmin;
            margin: 2rem 0;
    
            .bloque:first-child {
                grid-column: 1 / 3;
            }
    
            .bloque {
    
                .titulo,
                a {
                    color: var(--yellow-color);
                }
    
                .titulo {
                    font-weight: bold;
                }
    
                * {
                    color: #fff;
                }
            }
        }
    
        .links-importantes {
            display: flex;
            flex-wrap: wrap;
    
            .btn-yellow {
                @include btn-yellow(true);
                margin: 1rem;
            }
        }
    
        @media only screen and (min-width: $tablet-m) {
            .marcas-seguir {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
    
            .info-footer {
                grid-template-columns: repeat(3, minmax(0, 1fr));
                justify-items: center;
    
                .bloque:first-child {
                    grid-column: auto;
                }
            }
    
            .links-importantes {
                justify-content: center;
            }
        }
    }

    &.fullpage-section{
        display: flex;
        justify-content: center;
        .full-container{
            padding-top: var(--header-size);
            padding-bottom: var(--header-size);
            padding-right: 6vmin;
            padding-left: 6vmin;
            @media only screen and (min-width: $tablet-l) {
                padding-right: 10vmin;
                padding-left: 10vmin;
            }
        }
        .fp-scrollable{
            width: 100%;
            .full-container{
                padding-bottom: var(--header-size);
            }
        }
    }
}