#fp-nav {
    ul {
        li {
            a {
                :nth-child(2) {
                    background-color: #ffffff;
                    border: #b4b4b4 2px solid;
                    width: 8px;
                    height: 8px;
                }
            }

            a.active,&:hover {
                :nth-child(2) {
                    width: 16px;
                    height: 16px;
                    &:hover{
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}

#fp-nav.fp-right {
    right: 4px !important;
    @media only screen and (min-width: $tablet-l) {
        right: 12px !important;
    }
    @media only screen and (min-width: $tablet-l) {
        right: 18px !important;
    }    
}

.section {
    overflow: hidden;

    .layer {
        position: absolute;
        overflow: hidden;
        z-index: 4;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0vmin 10vmin;

        @media only screen and (min-width: $tablet-l) {
            padding: 0vmin 14vmin;
        }

        @media only screen and (min-width: $tablet-l) {
            padding: 0 24vmin;
        }

        .btn{
            position: absolute;
            bottom: 15%;
            color: #fff;
            display: flex;
            align-items: center;
            font-size: var(--largest-text);
            text-shadow: var(--shadow-color) 0.2vmin 0.1vmin 0.2vmin, var(--shadow-color2) 0.2vmin 0.2vmin 0.3vmin;
            img{
                width: 30px !important;
                margin-left: 1rem;
            }
            @media only screen and (min-width: $tablet-s) {
                bottom: 10%;
            }
            @media only screen and (min-width: $tablet-l) {
                bottom: 8%;
            }
        }

        .img-extra {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease 2s;

            img, svg {
                fill: #fff;
                object-fit: contain;
                height: 100% !important;
                width: 100%;
                filter: drop-shadow(#000 0.65rem 0.35rem 0.35rem);
                padding-top: var(--header-size);
                @media only screen and (min-width: $tablet-s) {
                    padding: calc(var(--header-size) + 100px) 10% calc(var(--header-size) + 50px) 10%;
                }
            }
        }

        .texto {
            position: relative;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &, * {
                text-align: center;
                text-transform: uppercase;
                line-height: 1;
                color: #fff;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {

                &,
                *{
                    margin: 0;
                    color: #fff;
                    font-family: 'Futura PT';
                    font-weight: bold;
                    line-height: 1.1;
                    @include text-shadow;
                }
            }

            .big-text {
                font-size: 1.1em;
            }

            .small-text {
                font-size: 0.9em;
            }

            h1 {
                margin-bottom: 15%;
                font-size: 9vmin;
                margin-bottom: 2rem;
            }

            p {
                font-weight: normal;
                font-size: 3vmin;
                @include text-shadow;
                line-height: normal;
                color: #fff;
            }

            @media only screen and (min-width: $tablet-m) {
                * {
                    margin-bottom: 0;
                }

                h1 {
                    font-size: 8vmin;
                    margin-bottom: 12%;
                }
            }

            @media only screen and (min-width: $laptop-m) {
                h1 {
                    margin-bottom: 0;
                }
            }
        }
        a.texto:hover{
            text-decoration: none;
        }

        .texto, .img-extra{
            &.scaleHome{
                color: #fff !important;
                transform: scale(1.1);
                transition: transform ease 2s;
                *:not(a){
                    text-decoration: underline;
                }
            }
        }
    }
}

.image-home-section {
    svg, img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.video-home-section {
    text-align: center;
    overflow: hidden;

    video {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black;
        /* in case the video doesn't fit the whole page*/
        background-position: center center;
        background-size: contain;
        object-fit: cover;
        /*cover video background */
        z-index: 3;
    }

    video::-webkit-media-controls {
        display: none !important;
    }
}