.img-banner {
    position: relative;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info-banner {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10% 8%;
        display: flex;
        align-items: center;
        z-index: 2;

        @media only screen and (min-width: $tablet-m) {
            padding: 4%;
        }

        .info-position {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
        }
    }
}

@mixin banners-common-sass($boton-abajo-derecha: false) {
    position: relative;
    .img-banner {
        border-radius: 0.8rem;
        overflow: hidden;
        .info-banner {
            .info-position {
                justify-content: center;

                .img-extra {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img,
                    svg {
                        fill: #fff;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        filter: drop-shadow(#000 0.65rem 0.35rem 0.35rem);

                        @media only screen and (min-width: $tablet-s) {
                            padding: 0 10%;
                        }
                    }
                }

                .texto {
                    position: relative;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    * {
                        text-align: center;
                        text-transform: uppercase;
                        line-height: 1;
                    }

                    h1, h2 , h3, h4, h5, h6 {
                        &, *{
                            margin: 0;
                            color: #fff;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: 800;
                            @include text-shadow;
                        }   
                    }
                    
                    .big-text{
                        font-size: 1.1em;
                    }
                    
                    .small-text {
                        font-size: 0.9em;
                    }

                    h1 {
                        margin-bottom: 15%;
                        font-size: 7.2vmin;
                        margin-bottom: 2rem;
                    }

                    p {
                        font-weight: normal;
                        font-size: 3vmin;
                        @include text-shadow;
                        line-height: normal;
                        color: #fff;
                    }

                    @media only screen and (min-width: $tablet-m) {
                        * {
                            margin-bottom: 0;
                        }

                        h1 {
                            font-size: 6.2vmin;
                            margin-bottom: 12%;
                        }
                    }

                    @media only screen and (min-width: $laptop-m) {
                        h1 {
                            margin-bottom: 0;
                        }
                    }
                }

                a {
                    position: absolute;
                    bottom: 0;
                    align-self: flex-end;
                    font-size: var(--larger-text);
                    align-self: center;

                    @if ($boton-abajo-derecha == true) {
                        @media only screen and (min-width: $tablet-m) {
                            align-self: flex-end;
                        }
                    }

                    @media only screen and (min-width: $tablet-l) {
                        padding-left: 5vw;
                        padding-right: 5vw;
                    }
                }
            }
        }
    }
}

/**
* Banner Principal
*/
.banner-principal {
    height: calc(50vh - var(--header-size)) !important;
    .fp-tableCell{
        height: calc(50vh - var(--header-size)) !important;
    }
    @media only screen and (max-height: 560px) {
        height: calc(100vh - var(--header-size)) !important;
        .fp-tableCell{
            height: calc(100vh - var(--header-size)) !important;
        }
    }
    @media only screen and (min-width: $tablet-m) {
        height: calc(100vh - var(--header-size)) !important;
        .fp-tableCell{
            height: calc(100vh - var(--header-size)) !important;
        }
    }

    &.banner-70{
        height: calc(50vh - var(--header-size)) !important;
        .fp-tableCell{
            height: calc(50vh - var(--header-size)) !important;
        }
        @media only screen and (max-height: 560px) {
            height: calc(70vh - var(--header-size)) !important;
            .fp-tableCell{
                height: calc(70vh - var(--header-size)) !important;
            }
        }
        @media only screen and (min-width: $tablet-m) {
            height: calc(70vh - var(--header-size)) !important;
            .fp-tableCell{
                height: calc(70vh - var(--header-size)) !important;
            }
        }
    }
    
    margin-top: var(--header-size);
    @include banners-common-sass;

    .img-banner {
        border-radius: 0;
        .info-banner {
            .info-position{
                .texto {
                    *{
                        font-size: 11vmin !important;
                    }
                }
            }
        }
    }
    .filtro{
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(rgba(0,0,0,0.322) 15%, rgba(0, 0, 0, 0.377) 35%, rgba(0, 0, 0, 0.404) 50%);
    }
}

.banner-main-home{
    .info-banner {
        .info-position{
            align-items: flex-start;
            .texto {
                
                @media only screen and (min-width: $laptop-s) {
                    margin-left: 5vmin;
                    width: 50%;
                }

                *{
                    text-align: start;
                    //padding-left: 4vmin;
                }

                h1, p {
                    margin-left: 4vmin;
                }

                p{
                    margin-bottom: 2vmin;
                }

                h1{
                    font-size: 15vmin !important;
                    margin-bottom: 2vh;
                    line-height: 0.85;
                }

                &::after {
                    content: "";
                    background-color: var(--yellow-color);
                    height: 100%;
                    width: 2vmin;
                    position: absolute;
                    box-shadow: var(--shadow-color) 4px 4px 4px;
                }
            }
        }
    }
}

/**
* Banner Primarios
*/
.banner-primario {
    height: 70vh;
    min-height: 130vmin;
    max-height: 145vmin;

    @media only screen and (min-width: $mobile-m) {
        min-height: 32rem;
        max-height: 125vmin;
    }

    @media only screen and (min-width: $mobile-l) {
        min-height: 40rem;
        max-height: 75vmin;
    }

    @media only screen and (min-width: $tablet-s) {
        height: 100vh;
        min-height: 45rem;
        max-height: 90vmin;
    }

    @include banners-common-sass(true);
}

/**
* Banner Secundario
*/
.banner-secundario {
    height: 60vh;
    min-height: 115vmin;
    max-height: 120vmin;

    @media only screen and (min-width: $mobile-m) {
        min-height: 28rem;
        max-height: 110vmin;
    }

    @media only screen and (min-width: $mobile-l) {
        min-height: 34rem;
        max-height: 70vmin;
    }

    @media only screen and (min-width: $tablet-s) {
        height: 90vh;
        min-height: 40rem;
        max-height: 80vmin;
    }

    @include banners-common-sass;
}

/**
* Banner Grande
*/
.banner-grande {
    height: 85vh;
    min-height: 150vmin;
    max-height: 170vmin;

    @media only screen and (min-width: $mobile-m) {
        min-height: 40rem;
        max-height: 140vmin;
    }

    @media only screen and (min-width: $mobile-l) {
        min-height: 50rem;
        max-height: 95vmin;
    }

    @media only screen and (min-width: $tablet-s) {
        height: 105vh;
        min-height: 60rem;
    }

    @media only screen and (min-width: $pc-s) {
        max-height: 100vmin;
    }

    @include banners-common-sass(true);
}

/* 
* SECCION DE CARTELERA 
*/
#cartelera {
    z-index: 1;
    display: flex;
    flex-direction: column;
    z-index: 10;

    @media only screen and (min-width: $tablet-l) {
        box-shadow: 0 0.5vh 2vh 0rem #424242cc, 0 -0.05rem 3vh 0rem #424242cc;
    }

    .header {
        width: 100%;
        margin-bottom: 5vmin;

        .logo {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                max-height: 20vh;
                @include img-shadow;
            }
        }
    }

    .peliculas {
        .poster {
            display: flex;
            flex-direction: column;
            height: auto;

            .body {
                position: relative;
                margin-bottom: 4vmin;
                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    padding-top: (12 / 8) * 100%;
                }
                

                .body-buttons {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    .horarios,
                    .trailer {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        padding: 0.2rem;

                        width: 50%;
                        height: 35%;
                        left: calc(50% - (50% / 2));
                        font-size: var(--small-text);
                        transition: .3s ease-in-out;

                        @media only screen and (min-width: $mobile-s) {
                            width: 50%;
                            height: 32%;
                            left: calc(50% - (50% / 2));
                            font-size: var(--smallest-text);
                        }

                        @media only screen and (min-width: $tablet-s) {
                            width: 65%;
                            height: 42%;
                            left: calc(50% - (65% / 2));
                        }

                        @media only screen and (min-width: $tablet-m) {
                            width: 60%;
                            height: 40%;
                            left: calc(50% - (60% / 2));
                        }

                        @media only screen and (min-width: $tablet-l) {
                            width: 50%;
                            height: 32%;
                            left: calc(50% - (50% / 2));
                        }

                        @media only screen and (min-width: $laptop-l) {
                            height: 35%;
                            font-size: var(--small-text);
                        }

                        border-radius: 50%;
                        box-shadow: 0 5px 0 rgba(0, 0, 0, 0.35);

                        font-weight: 700;
                        line-height: 1.2;

                        text-align: center;
                        text-transform: uppercase;
                        transition: all ease 0.35s;
                        -webkit-transition: all ease 0.35s;

                        &:hover {
                            z-index: 4;
                            transform: scale(1.05);
                            transition: .3s ease-in-out;
                        }
                    }

                    .horarios {
                        border: 4px solid darken($yellow-color, 5);
                        background-color: lighten($yellow-color, 5);
                        top: calc(35% - (35% / 2));
                        z-index: 3;
                        color: $blue-cines;
                        top: calc(35% - (32% / 2));

                        @media only screen and (min-width: $tablet-s) {
                            top: calc(35% - (42% / 2));
                        }

                        @media only screen and (min-width: $tablet-m) {
                            top: calc(35% - (40% / 2));
                        }

                        @media only screen and (min-width: $tablet-l) {
                            top: calc(35% - (32% / 2));
                        }

                        @media only screen and (min-width: $laptop-l) {
                            top: calc(35% - (35% / 2));
                        }
                    }

                    .trailer {
                        border: 4px solid darken($blue-cines, 5);
                        background-color: lighten($blue-cines, 5);
                        z-index: 2;
                        color: #fff;
                        top: calc(65% - (32% / 2));

                        @media only screen and (min-width: $tablet-s) {
                            top: calc(65% - (42% / 2));
                        }

                        @media only screen and (min-width: $tablet-m) {
                            top: calc(65% - (40% / 2));
                        }

                        @media only screen and (min-width: $tablet-l) {
                            top: calc(65% - (32% / 2));
                        }

                        @media only screen and (min-width: $laptop-l) {
                            top: calc(65% - (35% / 2));
                        }
                    }
                }

                .caratula {
                    display: block;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    width: 100%;
                    z-index: 1;
                    border-radius: 0.5rem;

                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    /* ZOOM */
                    img {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                    }

                    /* Shine */
                    &::before {
                        position: absolute;
                        top: 0;
                        left: -75%;
                        z-index: 2;
                        display: block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 250, 205, 0.3) 100%);
                        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                        -webkit-transform: skewX(-25deg);
                        transform: skewX(-20deg);
                    }


                    @-webkit-keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }

                    @keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }
                }
            }

            .titulo {
                font-size: var(--large-text);
                color: var(--blue-cines);
                font-weight: 900;
                text-align: center;
                margin: 0;
            }

            &:hover {
                .body-buttons {
                    display: block;
                    backdrop-filter: blur(2px);
                    z-index: 5;
                }

                .caratula {
                    img {
                        -webkit-transform: scale(1.08);
                        transform: scale(1.08);
                    }

                    &::before {
                        -webkit-animation: shine .75s;
                        animation: shine .75s;
                    }
                }
            }
        }
    }

    .boton-consultar {
        display: flex;
        justify-content: center;

        .yellow-btn {
            width: 90%;
            margin-top: 1rem;
            @include btn-yellow(true);
            color: #000;

            @media only screen and (min-width: $mobile-l) {
                width: auto;
                padding-left: 10vw;
                padding-right: 10vw;
            }

            @media only screen and (min-width: $tablet-m) {
                font-size: var(--larger-text);
            }
        }
    }
}

/**
* SECCION EVENTOS
*/
.eventos {
    .categorias {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));

        @media only screen and (min-width: $mobile-l) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media only screen and (min-width: $pc-s) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        grid-column-gap: 5vmin;
        grid-row-gap: 5vmin;

        .card {
            position: relative;
            min-height: 250px;
            height: 100%;
            border-radius: 0.8rem;
            overflow: hidden;

            /* Circle */
            figure {
                position: relative;
                width: 100%;
                height: 100%;
            }

            figure img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            figure::before {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                display: block;
                content: '';
                width: 0;
                height: 0;
                background: rgba(255, 255, 255, .2);
                border-radius: 100%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                opacity: 0;
            }

            @-webkit-keyframes circle {
                0% {
                    opacity: 1;
                }

                40% {
                    opacity: 1;
                }

                100% {
                    width: 200%;
                    height: 200%;
                    opacity: 0;
                }
            }

            @keyframes circle {
                0% {
                    opacity: 1;
                }

                40% {
                    opacity: 1;
                }

                100% {
                    width: 200%;
                    height: 200%;
                    opacity: 0;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .info-card {
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;

                .info-position {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 5%;

                    .icono {
                        width: 40%;
                        margin-bottom: 5%;
                        max-height: 40%;

                        img,
                        svg {
                            width: 100%;
                            height: 100%;
                            filter: drop-shadow(#272727 0.2rem 0.2rem 0.35rem);
                            object-fit: contain;
                            fill: #fff;
                        }
                    }

                    .texto {
                        display: flex;
                        justify-content: center;

                        * {
                            color: #fff;
                            font-weight: 900;
                            font-size: var(--big-text);

                            @media only screen and (min-width: $laptop-l) {
                                font-size: var(--bigest-text);
                            }

                            text-align: center;
                            line-height: 1;
                            @include text-shadow;
                        }
                    }
                }
            }

            &:hover {
                .info-position {
                    transform: translateY(-4%);
                    transition: all ease-out 0.5s;
                }

                figure::before {
                    -webkit-animation: circle .75s;
                    animation: circle .75s;
                }

                figure img {
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }

                svg {
                    fill: var(--yellow-color) !important;
                }
            }
        }
    }
}