.mm-menu {
    
    --mm-color-background: #ffffff;
    --mm-listitem-size: 50px;
    z-index: 110 !important;
	@media screen and (min-width: 1370px) {
		display: none !important;
	}
}

#menu{
    display: none;
    .nav-item{
        a{
            font-family: 'Helvetica Neue';
            font-size: var(--large-text);
        }
    }
}

.mm-menu_fullscreen.mm-menu_position-bottom {
    height: calc( 100% - var(--header-size) ) !important;
}

#master-header {
    position: fixed;
    width: 100%;
    height: var(--header-size);
    @media only screen and (min-width: 1370px) {
        :root{
            --header-size : 70px
        } 
    }
    z-index: 30;
    background-color: #fff;
    top: 0;
    nav {
        overflow: hidden;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media only screen and (min-width: 1370px) {
            justify-content: flex-start;
            .mburger{
                display: none;
            }
        }
        .navbar-imagen {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu-colapsable {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            overflow: hidden;
            @media only screen and (max-width: 1370px) {
                display: none;
            }
            
            ul.navbar-navigator {
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                justify-content: flex-end;
                overflow: hidden;
                opacity: 0;
                -webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                /**
                * ----------------------------------------
                * animation slide-in-left
                * ----------------------------------------
                */
                @-webkit-keyframes slide-in-left {
                    0% {
                    -webkit-transform: translateX(-1000px);
                            transform: translateX(-1000px);
                    opacity: 0;
                    }
                    100% {
                    -webkit-transform: translateX(0);
                            transform: translateX(0);
                    opacity: 1;
                    }
                }
                @keyframes slide-in-left {
                    0% {
                    -webkit-transform: translateX(-1000px);
                            transform: translateX(-1000px);
                    opacity: 0;
                    }
                    100% {
                    -webkit-transform: translateX(0);
                            transform: translateX(0);
                    opacity: 1;
                    }
                }

                li {
                    display: flex;
                }

                li.active {
                    background-color: var(--dark-gray-color);
                    a {
                        color: var(--yellow-color);
                    }
                }

                a {
                    font-family: "montserratregular";
                    font-size: var(--small-text);
                    font-weight: 900;
                    padding: 0 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}