.owl-dots{
    .owl-dot{
        span{
            background: #151a4e7e !important;
        }
        &.active{
            span{
                background: var(--blue-cines) !important;
            }
        }   
        &:focus {
            outline: none;
        }
    }
}
.owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;
    margin: 0 !important;

    .owl-prev,
    .owl-next {
        border-radius: 10% !important;
        margin: 0 !important;
        position: absolute;
        transition: ease 0.5s transform;

        img,
        svg {
            padding: 5px !important;
            width: 4.5vmin;
            height: 4.5vmin;

            * {
                fill: var(--blue-cines);
            }

            @media only screen and (min-width: $tablet-l) {
                width: 6vmin;
                height: 6vmin;
            }
        }

        &:focus {
            outline: none;
        }

        &:hover {
            background: var(--yellow-color) !important;
            text-decoration: none;
            transition: ease 0.5s transform, ease 0.5s color;
            transform: scale(1.1);

            * {
                fill: #FFF;
            }
        }

        &:active {
            background-color: var(--blue-cines) !important;
            transition: ease 0.5s transform, ease 0.5s color;

            * {
                fill: #FFF;
            }
        }
    }

    .owl-prev {
        left: calc(-4.5vmin - 15px);

        @media only screen and (min-width: $tablet-l) {
            left: calc(-6vmin - 15px)
        }

        &:hover {
            box-shadow: -2px 2px 2px var(--blue-cines) !important;
        }
    }

    .owl-next {
        right: calc(-4.5vmin - 15px);

        @media only screen and (min-width: $tablet-l) {
            right: calc(-6vmin - 15px)
        }

        &:hover {
            box-shadow: 2px 2px 2px var(--blue-cines) !important;
        }
    }
}