.info-paradores {
    padding: 8vmin 6vmin 4vmin;

    @media only screen and (min-width: $tablet-l) {
        padding: 10vmin 10vmin 5vmin;
    }

    .info-texto {

        &,
        * {
            font-family: 'Helvetica Neue';
            font-size: var(--large-text);
            color: var(--dark-gray-color2);
        }
    }
}

.separador {
    position: relative;
    display: block;

    .linea {
        width: 100%;
        height: 4px;
        background-color: var(--gold-color);
    }
}

.paradores {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media only screen and (min-width: 550px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media only screen and (min-width: $tablet-l) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media only screen and (min-width: $pc-xl) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    grid-column-gap: 5vmin;
    grid-row-gap: 5vmin;

    .card {
        position: relative;
        min-height: 250px;
        height: 100%;
        border-radius: 0.8rem;
        overflow: hidden;

        figure {
            position: relative;
            width: 100%;
            height: 100%;
        }

        figure img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .8s ease-in-out;
            transition: .8s ease-in-out;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info-card {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            top: 0px;
            border-radius: 0.8rem;
            overflow: hidden;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
            transition: all ease-out 0.5s;

            .info-position {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .texto {
                    display: flex;
                    justify-content: center;

                    &, * {
                        color: #fff;
                        font-weight: 900;
                        font-size: var(--bigest-text);

                        text-align: center;
                        line-height: 1;
                        @include text-shadow;

                        @media only screen and (min-width: 550px) {
                            font-size: var(--larger-text);
                        }
                        @media only screen and (min-width: $tablet-m) {
                            font-size: var(--bigest-text);
                        }
                    }
                }

                .vermas{
                    background-color: var(--gold-color);
                    padding: 0.5rem 2rem;
                    border: none;
                    margin-top: 15%;
                    border-radius: 0.3rem;
                    
                    &, *{
                        color: #fff;
                        font-size: var(--large-text);    
                        @media only screen and (min-width: 550px) {
                            font-size: var(--medium-text);
                        }  
                        @media only screen and (min-width: $tablet-m) {
                            font-size: var(--large-text); 
                        }
                        
                    }
                    @include box-shadow;
                }
            }
        }

        &:hover {
            figure img {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

            svg {
                fill: var(--yellow-color) !important;
            }
        }
    }
}