
$height-image: 65;

.info-parador{
    margin-top: var(--header-size);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    min-height: calc(100vh - var(--header-size));
    padding-bottom: 2vmin;
    padding-top: 2vmin;
    .informacion{
        position: relative;
        padding: 5vmin 5%;
        .title{
            text-align: center;
        }
        p {
            font-size: calc(var(--small-text) * 1.1);
            color: var(--dark-gray-color2);
            font-family: 'Helvetica Neue';
        }
        h5{
            color: var(--gold-color);
            font-weight: bold;
            font-size: var(--large-text);
        }

        .imagen-parador{
            position: relative;
            width: 100%;
            margin: 4vmin 0 6vmin;
            .imagen-parador-container{
                position: relative;
                width: 100%;
                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    padding-top: (9 / 14) * 100%;
                }
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .slick-list{
                padding: 0 !important;
            }

            .slick-arrow {
                width: 45px !important;
                height: 45px !important;
                z-index: 2;
            }

            .slick-dots{
                background-color: #ffffff44;
                li{
                    &:hover{
                        button{
                            &:before{
                                color: #616161;
                            }
                        }
                    }
                    &.slick-active{
                        button{
                            &:before{
                                color: #050505;
                            }
                        }
                    }
                }
            }

            .slick-dots{
                z-index: 2;
            }

            .slick-next {
                right: 1%;
            }
        
            .slick-prev {
                left: 1%;
            }
        }
    }

    @media only screen and (min-width: $tablet-m) {
        .informacion{
            padding: 5vmin 8%;
            .title{
                text-align: left;
            }
        }
    }

    @media only screen and (min-width: $laptop-s) {
        grid-template-columns: 60% minmax(0, 1fr);
        .informacion{
            padding: 5vmin 15% 5vmin 10%;
            .imagen-parador{
                position: absolute;
                top: calc(50% - #{$height-image/2 + "%"} );
                right: -75%;
                width: 85%;
            }
        }
    }

    @media only screen and (min-width: $laptop-m) {
        grid-template-columns: 50% minmax(0, 1fr);
        .informacion{
            .imagen-parador{
                right: -100%;
                width: 110%;
            }
        }
    }

    .espacio-blanco{
        position: relative;
    }
}

section.servicios-section {
    .title{
        text-align: center;
    }
    .servicios{
        padding-top: 4vmin;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        .servicio{
            width: 100%;
            padding: 0vmin 4vmin;
            margin-bottom: 0.5rem;
            .icono{
                padding: 4vmin;
               img,svg{
                   width: 100%;
                   height: 100%;
                   fill: var(--gold-color);
               } 
            }
            @media only screen and (min-width: $mobile-s) {
                width: 50%;
                padding: 4vmin;
                margin-bottom: 0;
                .icono{
                    padding: 2vmin;
                }    
            }
            @media only screen and (min-width: $tablet-m) {
                padding: 2vmin;
                width: 33.333%;
            }
            @media only screen and (min-width: $tablet-l) {
                width: 25%;
            }
            @media only screen and (min-width: $laptop-l) {
                padding: 3vmin;
                width: 20%;
            }
            @media only screen and (min-width: $pc-m) {
                padding: 4vmin;
            }
            @media only screen and (min-width: $pc-xl) {
                width: 16.666%;
            }
            .info{
                &, *{
                    text-align: center;
                    font-family: 'Helvetica Neue';
                    font-size: var(--large-text);
                    color: #666;
                    margin: 0;
                }
            }
        }
    }
}