.pelicula-full-info{
    margin-top: var(--header-size);
    .informacion{
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-row-gap: 3vmin;
        grid-column-gap: 3vmin;

        .poster-container {
            position: relative;
            display: flex;
            justify-content: center;
            .poster {
                position: relative;
                width: 60%;
                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    padding-top: (12 / 8) * 100%;
                }

                .caratula {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    /* Shine */
                    &::before {
                        position: absolute;
                        top: 0;
                        left: -75%;
                        z-index: 2;
                        display: block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 250, 205, 0.5) 100%);
                        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
                        -webkit-transform: skewX(-25deg);
                        transform: skewX(-20deg);
                    }


                    @-webkit-keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }

                    @keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }

                    &:hover {
                        &::before {
                            -webkit-animation: shine .5s;
                            animation: shine .5s;
                        }
                    }
                }
            }
        }

        .info-pelicula{
            &, *:not(.title){
                font-family: 'Helvetica Neue';
                font-size: var(--large-text);
            }

            .horarios {

                //margin-top: 1rem;
                * {
                    font-size: var(--large-text);
                }

                .funciones{
                    padding-bottom: 0.3rem;
                    margin-bottom: 0.4rem;
                    span {
                        font-family: 'Helvetica Neue';
                        border-bottom: 4px solid var(--gold-color);
                        padding-right: 5%;
                        padding-bottom: 0.2rem;
                        color: var(--dark-gray-color);
                        font-size: var(--larger-text);
                    }
                }

                .bloque {
                    padding-left: 0.4vmin;
                    p {
                        margin-bottom: 0.5rem;
                    }

                    margin-bottom: 1rem;

                    .nombre-idioma {
                        margin: 0.5rem 0rem;
                        font-family: 'Futura PT'
                    }

                    .nombre-idioma:first-of-type {
                        margin: 0rem 0rem 0.5rem 0rem;
                    }

                    .bloque-sala {
                        border-left: solid 4px var(--gold-color);
                        padding-left: 0.8rem;
                        .nombre-sala{
                            font-size: var(--medium-text);
                            margin-bottom: 0.2rem;
                            color: var(--dark-gray-color2);
                            font-family: 'Futura PT'
                        }
                    }

                    .horas {
                        display: flex;
                        flex-wrap: wrap;
                        .hora {
                            background-color: #fff;
                            border: 2px solid transparent;
                            border-bottom-color: var(--gold-color);
                            border-radius: 0.25rem;
                            color: #595959;
                            display: inline-block;
                            letter-spacing: -0.05em;
                            padding: 0.1em 0.2em;
                            white-space: nowrap;
                            margin: 0.5rem;
                            text-decoration: none;
                            font-size: var(--large-text);
                            &:hover {
                                background-color: #d3d3d3;
                            }
                        }
                    }
                }
            }
        }

        .youtube-trailer {
            //grid-column: 1 / 3;
            .title{
                text-align: center;
            }
            
            .iframe-container {
                position: relative;
                width: 100%;
                padding-bottom: 56.25%; 
                height: 0;
                border: 4px solid var(--gold-color);
                iframe {
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }    
            }
        }

        @media only screen and (min-width: $tablet-m) {
            grid-template-columns: 40% minmax(0, 1fr);
            grid-gap: 5vmin;
            .poster-container {
                display: block;
                .poster {
                    width: 100%;
                }
            }        
            .info-pelicula {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
            
            }

            .horarios {
                margin-top: 4vmin;
            }
        }

        @media only screen and (min-width: $laptop-s) {
            grid-template-columns: 32% minmax(0, 1fr);      
        }

        @media only screen and (min-width: $pc-s) {
            grid-template-columns: 25% minmax(0, 1fr);      
        }
    }
}