.informacion-salon{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    @media only screen and (min-width: $laptop-m) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    grid-column-gap: 5vmin;
    grid-row-gap: 5vmin;
    .info{
        &, * {
            font-family: 'Helvetica Neue';
            font-size: calc(var(--small-text) * 1.1);
            color: var(--dark-gray-color2);
        }
        .titulo-servicios{
            font-family: 'Futura PT';
            color: var(--gold-color);
            font-weight: bold;
            font-size: var(--large-text);
        }

        ul {
            list-style:none;
            padding-left: 1em;
            li {
                &:before {
                    content: '';
                    display: inline-block;
                    height: 0.75em;
                    width: 0.75em;
                    background-image: url(../img/iconos/next.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-right:0.5em;   
                  }
            }
        }
    }
    .imagen-salon{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.detalles-salon{
    .contenido{
        .title{
            text-align: center;
            padding-bottom: 5vmin;
        }
    }
    .detalles{
        &, *{
            font-family: 'Helvetica Neue';
            font-size: var(--large-text);
            color: var(--dark-gray-color2);
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .detalle{
            width: 90vw;
            padding-bottom: 15vmin;
            @media only screen and (min-width: $mobile-s) {
                width: 35vw;
                padding-bottom: 7vmin;
            }
            @media only screen and (min-width: $tablet-s) {
                width: 23vw;
                padding-bottom: 2vmin;
            }
            @media only screen and (min-width: $laptop-m) {
                width: 14vw;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icono{
                display: flex;
                justify-content: center;
                width: 80%;
                img, svg{
                    width: 100%;
                    fill: var(--dark-gray-color2);
                }
                padding-bottom: 5vmin;
            }
            p{
                margin-bottom: 0.25rem;
            }
            .titulo-detalle{
                font-weight: bold;
                text-align: center;
            }
            .medida-1{
                color: var(--gold-color);
                font-size: var(--largest-text);
                font-family: 'Futura PT';
                font-weight: bold;
                text-align: center;
            }

            .medida-2{
                font-weight: 300;
                font-style: normal;
                text-align: center;
            }
        }
    }
}